<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Simple image search engine</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="query_img"><br>
            <input type="submit">
        </form>
        <h2>Query:</h2>
        {% if query_path %}
        <img src="{{ query_path }}" width="300px">
        {% endif %}
        <h2>Results:</h2>
        <div class="row">
            {% for score in scores %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="{{ score[1] }}" height="200px">
                    <div class="caption">
                        <p><strong>Distance:</strong> {{ score[0] }}</p>
                        <p><strong>Image Path:</strong> {{ score[1] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

